*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 15px;
    margin: auto;
    max-width: 1200px;

}

.grid-item{
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}